# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual env
venv/
.venv/

# Environment
.env

# Django
db.sqlite3
test_db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log
